* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
#content {
  width: 1200px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}
#content .content_left .content_left_list {
  width: 838px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#content .content_left .content_left_list li {
  display: flex;
}
#content .content_left .content_left_list li a {
  padding: 32px 0;
  transition: all 0.2s ease-in-out;
  display: flex;
}
#content .content_left .content_left_list li img {
  width: 262px;
  height: 154px;
}
#content .content_left .content_left_list li .list_li {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#content .content_left .content_left_list li .list_li h2 {
  font-size: 22px;
  font-weight: 400;
  color: #333333;
}
#content .content_left .content_left_list li .list_li .list_li_p {
  font-size: 14px;
  color: #888888;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
#content .content_left .content_left_list li .list_li .list_li_time {
  display: flex;
}
#content .content_left .content_left_list li .list_li .list_li_time p {
  font-size: 14px;
  color: #888888;
}
#content .content_left .content_left_list li .list_li .list_li_time i {
  color: #F38200;
  margin-left: 15px;
}
#content .content_left .content_left_list li .list_li .list_li_time p:nth-child(2) {
  margin-left: 26px;
}
#content .content_left .content_left_list li a:hover {
  padding: 32px;
  background: #F8F9FB;
}
#content .content_left .content_left_list li:hover h2 {
  color: #1672F9;
}
#content .content_right {
  margin-left: 62px;
}
#content .content_right .selected li {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #F5F5F5;
}
#content .content_right .selected li a {
  display: flex;
  padding: 24px 0;
}
#content .content_right .selected li i {
  font-weight: 600;
  font-size: 34px;
  text-align: center;
  background: linear-gradient(to right, #6AAEFF, #005EFF);
  -webkit-background-clip: text;
  color: transparent;
}
#content .content_right .selected li .selected_li_content {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}
#content .content_right .selected li .selected_li_content h2 {
  width: 99%;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#content .content_right .selected li .selected_li_content p {
  font-size: 12px;
  color: #999999;
}
#content .content_right .Hot {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#content .content_right .Hot li {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #F5F5F5;
}
#content .content_right .Hot li a {
  padding: 24px 0;
  display: flex;
}
#content .content_right .Hot li img {
  width: 101px;
  height: 67px;
}
#content .content_right .Hot li .Hot_content {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#content .content_right .Hot li .Hot_content h2 {
  font-size: 14px;
  color: #333333;
}
#content .content_right .Hot li .Hot_content P {
  font-size: 12px;
  color: #999999;
}
.selected_title {
  font-size: 18px;
  color: #333333;
  font-weight: 400;
  padding-bottom: 16px;
  border-bottom: 2px solid;
  border-image: -webkit-linear-gradient(325deg, #005eff, #6aaeff) 99 1;
}
/*# sourceMappingURL=industry.css.map */